@font-face {
  font-family: 'Bernadette Bold Italic';
  src: url('https://static.wfonts.com/data/2015/05/25/bernadette/Bernadette Bold Italic.ttf') format('truetype');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Bernadette Bold Italic', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@layer utilities {
    .preserve-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .perspective-2000 {
        perspective: 2000px;
    }

    .animate-fade-in {
        animation: fadeIn 1.5s ease-out forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
